* {
    margin: 0;
    padding: 0;
    font-family: Inter;
    
}

body {
    background-color: hsl(0, 0%, 8%);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main .card {
    text-align: center;
    background: hsl(0, 0%, 12%);
    border-radius: 1rem;
    padding: 2rem;
    
}

main .card .descricao img {
    width: 100px;
    border-radius: 3rem;
    margin-top: 20px;
}

main .card .descricao h2 {
    color: hsl(0, 0%, 100%);
    margin-top: 10px;
  
}

main .card .descricao p {
    color: hsl(75, 94%, 57%);
    font-weight: 400;
    margin-top: 10px;
}

main .card .descricao span {
    color: hsl(0, 0%, 100%);
    display: block;
    margin-top: 20px;
    max-width: 100%;
    
    
}

.redes {
    display: flex;

    flex-direction: column;
    
}

main .card .redes a{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    background-color: hsl(0, 0%, 20%);
    border-radius: 0.5rem;
    padding: 1rem;
    max-width: 100%;
    margin-top: 15px;
    font-weight: 600;
    
}

main .card .redes a:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
}

footer .attribution {
    margin-top: 20px;
    text-decoration: none;
}

footer .attribution a {
    text-decoration: none;
    color: hsl(75, 94%, 57%);
}


footer .attribution p {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    text-align: center;
}